# Brevo SMTP ayarlarını buraya ekle
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=senin_brevo_email@example.com
SMTP_PASSWORD=xkeysib-xxxxxxxxxxxxxxxxxx-xxxxxxxx  # Brevo'dan aldığın SMTP key
SMTP_FROM=senin_brevo_email@example.com

# JWT Secret
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

# Frontend domain (şimdilik localhost)
APP_DOMAIN=http://localhost:3000

# Cloudinary (henüz boş bırakabilirsin)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=